#navbar {
  position: fixed;
  top: 0;
  left: 0;
  color: #FFFFFF;
  background-color: #4056A1;
  height: 120px;
  width: 100%;
  z-index: 6;
  padding: 1.5em;
}

nav .logo {
  float: left;
  font-size: 40px;
  font-family: 'Bungee';
}

nav .new-tweet {
  float: right;
}

nav .new-tweet .write-new-tweet {
  margin-top: 10px;
  margin-bottom: 0;
}

nav .new-tweet .new-tweet-arrow {
  margin: 0 auto;
  text-align: center;
  color: #ff0000;
}
